* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ff7a7a url(../images/bg-intro.png) repeat top center;
  color: white;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.main {
  padding: 4rem 2rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 992px) {
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    height: 90vh;
  }
}

.intro {
  text-align: center;
  max-width: 600px;
  -webkit-animation: down 1s ease-out;
          animation: down 1s ease-out;
}

@media screen and (min-width: 992px) {
  .intro {
    text-align: left;
    -webkit-animation: right 1s ease-out;
            animation: right 1s ease-out;
  }
}

.intro .heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .intro .heading {
    font-size: 3.25rem;
    line-height: 1.2;
  }
}

.intro p {
  margin-bottom: 2rem;
}

.right {
  max-width: 600px;
  -webkit-animation: down 1s ease-out;
          animation: down 1s ease-out;
}

@media screen and (min-width: 992px) {
  .right {
    width: 95%;
    -ms-grid-column-align: right;
        justify-self: right;
    -webkit-animation: left 1s ease-out;
            animation: left 1s ease-out;
  }
}

.right .trial-callout {
  width: 100%;
  text-align: center;
  padding: 1.5rem;
  background: #6055a5;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 6px 0 0 rgba(62, 60, 73, 0.3);
          box-shadow: 0 6px 0 0 rgba(62, 60, 73, 0.3);
  margin-bottom: 2rem;
}

.right .highlight {
  font-weight: 700;
}

.right .form {
  width: 100%;
  text-align: center;
  padding: 3rem;
  background: white;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 6px 0 0 rgba(62, 60, 73, 0.3);
          box-shadow: 0 6px 0 0 rgba(62, 60, 73, 0.3);
  margin-bottom: 2rem;
}

.right .form .form-group {
  margin-bottom: 1.5rem;
  position: relative;
}

.right .form .form-group input {
  display: block;
  padding: 1rem;
  width: 100%;
  outline: none;
  border: 1px solid #b9b6d3;
  border-radius: 0.25rem;
}

.right .form .form-group input::-webkit-input-placeholder {
  font-weight: 600;
}

.right .form .form-group input:-ms-input-placeholder {
  font-weight: 600;
}

.right .form .form-group input::-ms-input-placeholder {
  font-weight: 600;
}

.right .form .form-group input::placeholder {
  font-weight: 600;
}

.right .form .form-group .error-message {
  display: none;
  text-align: right;
  font-style: italic;
  color: #ff7a7a;
  margin-top: 0.5rem;
  -webkit-animation: opacity 1s ease-out;
          animation: opacity 1s ease-out;
}

.right .form .form-group svg {
  position: absolute;
  right: 15px;
  top: 15px;
  display: none;
  -webkit-animation: opacity 1s ease-out;
          animation: opacity 1s ease-out;
}

.right .form .btn {
  display: block;
  padding: 1.5rem;
  background: #38cc8c;
  width: 100%;
  outline: none;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 0.25rem;
  -webkit-box-shadow: inset 0 -5px 0 0 rgba(62, 60, 73, 0.3);
          box-shadow: inset 0 -5px 0 0 rgba(62, 60, 73, 0.3);
  margin: 1rem 0;
  cursor: pointer;
}

.right .form .btn:active {
  -webkit-box-shadow: inset 0 -3px 0 0 rgba(62, 60, 73, 0.3);
          box-shadow: inset 0 -3px 0 0 rgba(62, 60, 73, 0.3);
  padding-top: calc(1.5rem - 2px);
  margin-top: calc(1rem + 2px);
  text-shadow: 0 1px rgba(62, 60, 73, 0.3);
  background: #51eba8;
}

.right .form p {
  color: #b9b6d3;
  font-size: 0.8rem;
}

.right .form a {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  color: #ff7a7a;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 2rem;
}

.attribution a {
  color: #6055a5;
  font-size: 0.8rem;
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes down {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes right {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes right {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes left {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes left {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */